.bye {
   
    width: 100%;
    height: 1000px;
    background-image: url('images/Gnite.jpg');
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
    font-style: italic;
}
.caorang{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caorang p {
    text-align: center;
}
.imageContainer{
    margin-top: 30vh;;
    display: flex;
    height:40vw
    
}


.imgComponent{
    margin: 0 5vw;
    flex:2;
    display: flex;
    justify-content: center;

    
}

.imgComponent > img {
    width: 100%;
    height: 100%;
}